<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Share Price Graph</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/font-awesome.min.css' %}"
    />

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.custom.js' %}"></script>

    <link
      href="http://fonts.googleapis.com/css?family=Oswald:400,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=EB+Garamond"
      rel="stylesheet"
      type="text/css"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'assets/js/html5shiv.js' %}"></script>
      <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0">
    <!-- ========== HEADER SECTION ========== -->
    <div id="headerwrap">
      <div class="container">
        <br />
        <div class="row">
          <h3>Share Price Graph</h3>
          <br />
        </div>
      </div>
      <div>
        {{ graph|safe }}
        <br />
      </div>
      <br />
      <button class="btn btn-success btn-lg" onclick="window.location.href = '/';">Back</button>
      <!-- /container -->
    </div>
    <!-- /headerwrap -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/classie.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
